<div class="wrapper">
  <h2>My API</h2>
  <form name="userForm">
    <div class="fields">
      <input type="hidden" name="id" value="0"/>
      <div class="form-group">
        <label for="name">Name of subject:</label>
        <input [(ngModel)]="subject.name" class="form-control" name="name" id="name"/>
      </div>
      <div class="form-group">
        <label for="crud">Num for delete/update/getUser:</label>
        <input min="1" type="number" #number class="form-control" name="crud" id="crud"/>
      </div>
    </div>

    <div class="panel-body">
      <button type="submit" (click)="addUser(subject.name)" class="btn btn-sm btn-primary">POST SUBJECT</button>
      <button class="btn btn-sm btn-primary" (click)="getUsers()">GET SUBJECTS</button>
      <button class="btn btn-sm btn-primary" (click)="deleteUser(+number.value)">DELETE SUBJECT</button>
      <button class="btn btn-sm btn-primary" (click)="putUser(subject.name, +number.value)">UPDATE SUBJECT</button>
      <button class="btn btn-sm btn-primary" (click)="getUser(+number.value)">GET SUBJECT</button>
    </div>
  </form>

  <div class="small-hint">
    <small>
      to get started, get all the data 'GET SUBJECTS' <br>
      enter a number in the second field and use the buttons, to see the result use 'GET SUBJECTS'
    </small>
  </div>

  <ul>
    <li *ngFor="let subject of subjects">
      <pre>
        {{ subject | json }}
      </pre>
    </li>
  </ul>
</div>

