.wrapper {
  width: 900px;
  margin: 2rem auto;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #5486c5;
  }

  .panel-body {
    margin-top: 1rem;

    button {
      margin-right: 10px;
    }

    input {
      width: 40px;
    }
  }

  form {
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 4px 0 black;
    margin-top: 2rem;
  }

  ul {
    margin-top: 1rem;
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-around;

    pre {
      font-family: unset;
      font-weight: 500;
    }
  }

  .small-hint {
    text-align: center;
    opacity: .6;
  }
}
